@import "../../scss-variables/colors";
@import "../../scss-variables/transition-duration";

section {
    height: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 clamp(20px, 15vw, 20vw);
    h2 {
        color: $white;
    }
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
            text-align: center;
            color: $clear-black;
            line-height: 45px;
            font-stretch: 50px;
            span {
                font-weight: 400;
                color: $clear-black;
                transition: $default-duration ease-in-out;
            }
            &:hover {
                span {
                    color: $white;
                }
            }
            font-weight: 400;
        }
        a {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: $default-duration ease-in-out;
            cursor: pointer;
            &:hover {
                filter: brightness(80%);
            }
            border-radius: 10px;
            background-color: $white;
            width: max-content;
            font-size: 1.3rem;
            font-weight: 500;
            padding: 10px 20px;
            color: $black;
            background-color: $white;
            svg {
                fill: $black;
            }
        }
    }
}

// responsive
@media (width < 1150px) {
    section {
        padding: 0 clamp(20px, 10vw, 20vw)
    }
}
