<section id="about">
    <div class="h1-container">
        <h1 class="section-title" tabindex="0">About Me</h1>
    </div>
    <p tabindex="0">
        I'm a self-taught full stack developer from Córdoba,
        Argentina, on a quest to <span>grow as a full stack junior developer</span>.<br>My journey into the
        realm of technology began when I delved into graphic design at the age
        of 12. In 2022, I stumbled upon the world of coding, and it was a
        revelation. It allowed me to breathe life into my designs, creating
        mesmerizing interactive experiences.<br>
        Accessibility is of utmost importance to me, <span>ensuring that my websites
        are inclusive and user-friendly for all individuals</span>. Additionally, I
        have a penchant for languages and exploring different cultures, as they
        offer unique perspectives. <br>
        As a<span> native Spanish speaker  and fluent
        English speaker</span>, I'm constantly honing my language skills. I'm also
        excited to embark on the journey of learning French.
    </p>
</section>
