@import "../../scss-variables/colors";
section {
    height: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-right: 5vw;
    h1 {
        color: $white;
    }
    p {
        color: $clear-black;
        line-height: 45px;
        font-stretch: 50px;
        span {
            font-weight: 400;
            font-size: 2rem;
            color: $clear-black;
        }
        font-size: 2rem;
        font-weight: 400;
        &:hover{
            transition: 1s;
            // color: $gray;
            span{
                transition: 1s;
                color: $white;
            }
        }
    }
}
