<section id="about" class="section-container">
    <h2 class="section-title" tabindex="0">About Me</h2>
    <main>
        <p tabindex="0">
            <span>Fullstack Developer </span> from Córdoba, Argentina. I've been
            working with
            <span>React, Angular, TypeScript, Node.JS, and Sass </span>, under
            the guidance of Santex developers as part of the company's Academy,
            while at the same time continuing learning on Platzi and bulding
            self projects. As a<span>
                native Spanish speaker and fluent in English </span
            >, I am eager to contribute my skills as a
            <span>Fullstack developer </span> in a remote team. I thrive on
            learning new technologies and am always seeking opportunities to
            expand my knowledge. <span>Let's connect!</span>
        </p>
        <section>
            <a href="#contact"
                >Get in touch
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-caret-down"
                    width="36"
                    height="36"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M6 10l6 6l6 -6h-12"></path>
                </svg>
            </a>
            <a
                href="https://drive.google.com/uc?export=download&id=1Y4zdI-EjjjrfEHna4LlJEOpFd18e2SYt"
                class="btn-no-bg"
                >Resume
                <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    width="36"
                    height="36"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 9.75v6.75m0 0l-3-3m3 3l3-3m-8.25 6a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z"
                    ></path>
                </svg>
            </a>
        </section>
    </main>
</section>
