<section id="about">
    <div class="h1-container">
        <h1 class="section-title" tabindex="0">About Me</h1>
    </div>
    <p tabindex="0">
        I'm a full stack developer from Córdoba,
        Argentina, on a quest to <span>grow as a full stack junior developer</span>.
        Building products with <span>React, Angular, typescript and node.</span> <br>
        Additionally, I
        have a penchant for languages and exploring different cultures, as they
        offer unique perspectives, it is the reason why I'm a passionate of learning languages. <br>
        As a<span> native Spanish speaker  and fluent
        English speaker</span>, I'm constantly honing my language skills. I'm also
        excited to embark on the journey of learning French.
    </p>
    <a href="#contact">Contact me
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-caret-down" width="36" height="36" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M6 10l6 6l6 -6h-12"></path>
         </svg>
    </a>
</section>
