<footer>
    <div class="gmail">
        <h3 tabindex="0">email</h3>
        <a href="mailto:solishuilencontact@gmail.com" target="_blank">
            solishuilencontact<p>@gmail.com</p>
        </a>
    </div>
    <section class="social-links-container">
        <h3 tabindex="0">social media</h3>
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/huilensolis" target="_blank">
                    linkedin
                    <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"
                    ></path>
                </svg>
                </a>
            </li>
            <li>
                <a href="https://github.com/Huilensolis" target="_blank">
                    github
                    <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"
                    ></path>
                </svg>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/SolisHuilen" target="_blank">
                    twitter
                    <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"
                    ></path>
                </svg>
                </a>
            </li>
        </ul>
    </section>
</footer>
