@import "../../scss-variables/colors";
@import "../../scss-variables/transition-duration";

footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding: clamp(10px, 10vw, 100px) clamp(20px, 10vw, 20vw);
    background-color: transparent;
    border-top: 1px solid $gray;
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
    }
    .social-links-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
    }
    ul{
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        li{
            display: flex;
            gap: 10px;
            &:hover{
                a{
                    transition: 0.5s;
                    color: $blue;
                }
            }
            a{
                display: flex;
                align-items: center;
                height: 100%;
                width: 100%;
                color: $white;
                transition: $default-duration ease-in-out;
                svg{
                    height: 1.5rem;
                }
            }
        }
    }
}
a{
    font-size: 1.5rem;
    color: $white;
}
span{
    font-weight: 600;
    color: $white;
    font-size: 2rem;
}

// responsive
@media (width < 950px){
    footer{
        display: flex;
        flex-direction: column;
    }
}