<section id="contact" class="section-container">
    <h2 class="section-title">Contact</h2>
    <section class="form-container">
        <form [formGroup]="contactForm" (submit)="sendEmail($event)">
            <section class="info">
                <section class="username-container">
                    <label for="username">name*</label>
                    <input type="text" name="user_name" id="username" autocomplete="name" formControlName="name"
                        required [(ngModel)]="name" maxlength="50" />
                    <p class="error-p" *ngIf="!contactForm.get('name')?.valid &&  contactForm.get('name')?.touched">
                        field required*
                    </p>
                </section>

                <section class="email-container">
                    <label for="email">email*</label>
                    <input type="email" name="user_email" id="email" autocomplete="email" formControlName="email"
                        required [(ngModel)]="email" maxlength="320" />
                    <p class="error-p"
                        *ngIf="!contactForm.get('email')?.valid && contactForm.get('email')?.touched && !contactForm.get('email')?.dirty">
                        field required*
                    </p>
                    <p class="error-p"
                        *ngIf="!contactForm.get('email')?.valid && contactForm.get('email')?.touched && contactForm.get('email')?.dirty">
                        email format required
                    </p>
                </section>
            </section>

            <section class="message-container">
                <label for="message">message*</label>
                <textarea name="message" id="message" required formControlName="message"
                    [(ngModel)]="message"></textarea>
                <p class="error-p"
                    *ngIf="!contactForm.get('message')?.valid && (contactForm.get('message')?.touched || contactForm.get('message')?.dirty)">
                    {{ contactForm.get('message')?.errors?.['required'] ? 'field required*' : 'Minimum length is 20
                    characters.' }}
                </p>
            </section>

            <button type="submit" [disabled]="!contactForm.valid" [class.loading]="loading === true">
                <p [class.send]="loading === false">send</p>
                <svg xmlns="http://www.w3.org/2000/svg" [class.active]="!loading"
                    class="icon icon-tabler icon-tabler-brand-telegram" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"></path>
                </svg>

                <svg id="loading" [class.active]="loading === true" xmlns="http://www.w3.org/2000/svg" width="36"
                    height="36" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-loader-2">
                    <path _ngcontent-ng-c4244900476="" stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path _ngcontent-ng-c4244900476="" d="M12 3a9 9 0 1 0 9 9"></path>
                </svg>
            </button>
        </form>

        <figure class="mail-icon-container">
            <div class="mail-figure-container">
                <section class="preview">
                    <section class="email-title-preview">
                        <h2>Email preview</h2>
                    </section>
                    <section class="from">
                        <h2>from <span id="name-preview">{{name}} </span> <span
                                id="email-preview">&#60;{{email}}&#62;</span></h2>
                    </section>
                    <section class="to">
                        <h2>to <span>solishuilencontact@gmail.com</span></h2>
                    </section>
                </section>
                <section class="message-preview">
                    <p>{{message}}</p>
                </section>
            </div>
        </figure>
    </section>
    <app-alert title="{{
            emailSendingSuccess
                ? 'email sent succesfully!'
                : 'there has been an error!'
        }}" message="{{
            emailSendingSuccess
                ? 'I will reach you soon'
                : 'try contacting me on my social media'
        }}" [success]="emailSendingSuccess" [display]="displayAlert"></app-alert>
</section>