@import "../../scss-variables/colors";

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    .form-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            label {
                font-size: 1.5rem;
                color: $clear-black;
            }
            input {
                width: 100%;
                border-radius: 8px;
                padding: 10px;
                background-color: $black;
                border: 2px solid $gray;
                color: $white;
                font-size: 1.6rem;
            }
            .info {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 20px;
                .email-container,
                .username-container {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
            }
            .message-container {
                display: flex;
                flex-direction: column;
                height: 100%;
                gap: 5px;
                textarea {
                    resize: none;
                    height: 100%;
                    width: 100%;
                    border-radius: 10px;
                    border: 2px solid $gray;
                    background-color: $black;
                    padding: 10px;
                    font-weight: 500;
                    font-size: 1.7rem;
                    color: $white;
                }
            }
            button {
                &.loading{
                    transition: 0.5s;
                    background-color: $blue;
                }
                &:disabled {
                    transition: 0.5s;
                    background-color: $gray;
                }
                &:hover{
                    transition: 0.5s;
                    background-color: $clear-purple;
                    &:disabled{
                        background-color: $disabled-button;
                    }
                    &.loading{
                        background-color: $clear-blue;
                    }
                }
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                background-color: $purple;
                width: 100%;
                color: $black;
                font-weight: 500;
                font-size: 2rem;
                padding: 5px;
                gap: 10px;
                svg {
                    display: none;
                    &.active {
                        display: inline-block;
                        animation: rotation 2s infinite linear;
                    }
                    height: 100%;
                    color: $white;
                }
                p {
                    display: none;
                    &.send{
                        display: inline-block;
                    }
                    &.loading{
                        color: $white;
                        font-style: italic;
                        font-weight: 200;
                        display: inline-block;
                    }
                }
            }
        }
        .mail-icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            grid-column: 2 / 3;
            svg {
                width: 500px;
                height: 500px;
            }
        }
    }
    .error-p {
        color: $pink-orange;
        font-size: 1.2rem;
    }
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
@media (width < 1300px){
    main{
        .form-container{
            grid-template-columns: 1fr;
            .message-container {
                textarea {
                    resize: none;
                    min-height: 40vh;
                    border-radius: 10px;
                    border: 2px solid $gray;
                    background-color: $black;
                    padding: 10px;
                    font-weight: 500;
                    font-size: 1.7rem;
                    color: $white;
                }
            }
            .mail-icon-container{
                display: none;
            }
        }
    }
}
@media (width < 670px){
    main {
        .form-container {
            form {
                .info {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 20px;
                    .email-container,
                    .username-container {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                    }
                }
            }
        }
    }
}