<div class="project-item">
    <section class="links">
        <a href="{{ project.deployLink }}" *ngIf="project.deployLink" target="_blank"
            >deploy
            <svg
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"
                ></path>
            </svg>
        </a>
        <a href="{{ project.githubLink }}" *ngIf="project.githubLink" target="_blank"
            >repository
            <svg
                stroke="currentColor"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true">
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"></path>
            </svg>
        </a>
    </section>

    <main>
        <header>
            <h2>{{ project.title }}</h2>
            <p> {{ technologyList }} </p>
        </header>
    </main>
</div>
