@import "../../scss-variables/colors";
@import "../../scss-variables/transition-duration";

.alert {
    background-color: $black;
    height: max-content;
    width: max-content;

    border-radius: 12px;

    border: 3px solid;
    border-color: $blue;
    &.error {
        border-color: $red;
        .text-container {
            h3 {
                color: $red;
            }
            p {
                color: $white;
            }
        }
    }

    padding: 20px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 4;
    transform: translateY(-100%);
    visibility: hidden;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .icon {
        height: 50px;
        svg {
            height: 100%;
            width: 100%;
        }
        &.error {
            svg {
                color: $red;
            }
        }
        &.check {
            svg {
                color: $blue;
            }
        }
    }
    .text-container {
        h3 {
            color: $blue;
            font-weight: 600;
        }
        p {
            color: $white;
            font-weight: 500;
        }
    }
}
.display {
    transition: $default-duration ease-in-out;
    transform: translateY(80px + 20px); //nav bar height plus 20px
    visibility: visible;
    opacity: 100%;
}
@media (width < 1300px) {
    .display {
        transition: $default-duration ease-in-out;
        transform: translateY(calc(60px + 20px)); //nav bar height plus 10px
        visibility: visible;
        opacity: 100%;
    }
}
