@import "../../scss-variables/colors";
@import "../../scss-variables/transition-duration";

.alert {
    background-color: $black;
    height: max-content;
    width: max-content;
    max-width: 90vw;

    border-radius: 12px;

    border: 4px solid;
    border-color: $blue;
    &.success {
        border-color: $yellow-green;
        outline: 3px solid $black;
    }
    &.error {
        border-color: red;
        .text-container {
            h3 {
                color: red;
            }
            p {
                color: $white;
            }
        }
    }

    padding: 15px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    transform: translateY(-100%);
    visibility: hidden;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .icon {
        height: 50px;
        svg {
            height: 100%;
            width: 100%;
        }
        &.error {
            svg {
                color: red;
            }
        }
        &.check {
            svg {
                color: $yellow-green;
            }
        }
    }
    .text-container {
        h3 {
            color: $white;
            font-size: clamp(25px, 5vw, 2rem);
            font-weight: 600;
        }
        p {
            color: $yellow-green;
            font-size: clamp(15px, 5vw, 2rem);
            font-weight: 500;
        }
    }
}
.display {
    transition: $default-duration ease-in-out;
    transform: translateY(10px); //nav bar height plus 10px
    visibility: visible;
    opacity: 100%;
}
@media (width < 1300px) {
    .display {
        transition: $default-duration ease-in-out;
        transform: translateY(calc(60px + 10px)); //nav bar height plus 10px
        visibility: visible;
        opacity: 100%;
    }
}
