@import "../../scss-variables/colors";

nav {
    height: 100vh;
    width: 100%;
    padding: 50px 0;
    ul {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        :nth-child(1) {
            // title, the header with the h1 inside
            grid-area: 1 / 1 / 1 / 3;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 24px;
            header {
                height: 100%;
                width: 100%;
                .text-container {
                    flex-direction: column;
                    align-items: flex-start;
                    h1 {
                        line-height: 8rem;
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        width: 100%;
                        font-size: 8rem;
                        font-weight: 800;
                        color: $white;
                        span {
                            text-align: center;
                            color: $purple;
                        }
                    }
                    h2 {
                        width: 100%;
                        text-align: start;
                        font-size: 3rem;
                        font-weight: 700;
                        color: $purple;
                    }
                }
            }
        }
        :nth-child(3) {
            grid-area: 1 / 4 / 3 / 4;
        }
        :nth-child(5) {
            grid-area: 2 / 2 / 2 / 4;
        }
        :not(:first-child) li{
            &:not(h2):hover {
                a {
                    transition: 0.5s;
                    span {
                        transition: 0.5s;
                        color: $black;
                        font-size: 3.5rem;
                    }
                    svg {
                        transition: 0.5s;
                        color: $black;
                        height: 60px;
                    }
                }
            }
        }
        li {
            position: relative;
            z-index: 5;
            border-radius: 24px;
            display: flex;
            height: 100%;
            width: 100%;

            a {
                z-index: 2;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                text-align: end;
                height: 3.4rem;
                padding: 10px;
                width: 100%;
                height: 100%;
                border-radius: 24px;
                background-color: #111111;
                // background-color: transparent;
                span {
                    z-index: 2;
                    font-size: 3rem;
                    color: $white;
                }
                svg {
                    z-index: 2;
                    color: $white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: max-content;
                    height: 40px;
                }
            }
        }
    }
}
nav ul .menu-nav-item{
    padding: 1px;
    background-color: $gray;
    animation: moveGradient infinite;
    background-repeat: no-repeat;
}
nav ul{
    :nth-child(2){
        &.menu-nav-item{
            animation-duration: 20s;
            background-image: radial-gradient(circle farthest-corner at left bottom, $white 1%, $gray 56%);
        }
    }
}
nav ul{
    :nth-child(3){
        &.menu-nav-item{
            animation-duration: 25s;
            background-image: radial-gradient(circle farthest-corner at left center, $blue 1%, $gray 56%);
        }
    }
}
nav ul{
    :nth-child(4){
        &.menu-nav-item{
            animation-duration: 30s;
            background-image: radial-gradient(circle farthest-corner at top center, $yellow-green 1%, $gray 56%);
        }
    }
}
nav ul{
    :nth-child(5){
        &.menu-nav-item{
            animation-duration: 28s;
            background-image: radial-gradient(circle farthest-corner at left top, $purple 1%, $gray 56%);
        }
    }
}
nav ul li:hover{
    a{
        transition: 0.5s;
        background-color: $gray;
    }
}
@keyframes moveGradient {
    0% {
        background-size: 0%;
        background-position: center center;
    }
    50% {
        background-size: 400%;
        background-position: center top;
    }
    100% {
        background-size: 0%;
        background-position: center center;
    }
}