<nav id="home">
    <ul>
        <li>
            <header>
                <div class="text-container">
                    <h1>Huilen Solis<span>.is()</span></h1>
                    <h2>Full stack developer</h2>
                </div>
            </header>
        </li>
        <li>
            <a href="">
                <span>about</span>
                <svg
                    stroke="currentColor"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"
                    ></path>
                </svg>
            </a>
        </li>

        <li>
            <a href="">
                <span>skillset</span>
                <svg
                    stroke="currentColor"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"
                    ></path>
                </svg>
            </a>
        </li>

        <li>
            <a href="">
                <span>projects</span>
                <svg
                    stroke="currentColor"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"
                    ></path>
                </svg>
            </a>
        </li>

        <li>
            <a href="">
                <span>contact</span>
                <svg
                    stroke="currentColor"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25"
                    ></path>
                </svg>
            </a>
        </li>
    </ul>
</nav>
