@import "../../scss-variables/colors";

nav {
    height: 100vh;
    width: 100%;
    padding: 50px 0;
    ul {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        :nth-child(1) {
            // title, the header with the h1 inside
            grid-area: 1 / 1 / 1 / 3;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 24px;
            header {
                height: 100%;
                width: 100%;
                .text-container {
                    flex-direction: column;
                    align-items: flex-start;
                    h1 {
                        line-height: 8rem;
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        width: 100%;
                        font-size: 8rem;
                        font-weight: 800;
                        color: $white;
                        span {
                            text-align: center;
                            color: $purple;
                        }
                    }
                    h2 {
                        width: 100%;
                        text-align: start;
                        font-size: 3rem;
                        font-weight: 700;
                        color: $purple;
                    }
                }
            }
        }
        :nth-child(3) {
            grid-area: 1 / 4 / 3 / 4;
        }
        :nth-child(5) {
            grid-area: 2 / 2 / 2 / 4;
        }
        :not(:first-child) {
            a {
                // // background-color: $black;
                // background-image: radial-gradient(circle farthest-corner at top right, $purple 58%, $white 58%);
                // background-repeat: no-repeat;
                // background-size: 700%;
                // background-position: left bottom;
                background-color: $gray;
            }
            &:not(h2):hover {
                a {
                    transition: 0.5s;
                    background-color: $purple;
                    span {
                        transition: 0.5s;
                        color: $black;
                        font-size: 3.5rem;
                    }
                    svg {
                        transition: 0.5s;
                        color: $black;
                        height: 3.5rem;
                    }
                }
            }
        }
        li {
            position: relative;
            z-index: 5;
            border-radius: 24px;
            display: flex;
            height: 100%;
            width: 100%;
            a {
                z-index: 2;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                text-align: end;
                height: 3.4rem;
                padding: 10px;
                width: 100%;
                height: 100%;
                border-radius: 21px;
                background-color: $white;
                span {
                    z-index: 2;
                    font-size: 3rem;
                    color: $white;
                }
                svg {
                    z-index: 2;
                    color: $white;
                    height: 3rem;
                }
            }
        }
    }
}
