@import '../../scss-variables/colors.scss';
@import '../../scss-variables/page-pading';
header {
    position: fixed;
    left: 0;
    padding: $root-padding;
    display: flex;
    justify-content: end;
    height: 80px;
    width: 100vw;
    background-color: $black;
    border-bottom: 2px solid $clear-black;
    #header-nav {
        grid-column: 2 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            display: flex;
            gap: 50px;
            li {
                display: flex;
                a {
                    border-radius: 12px;
                    height: 100%;
                    width: 100%;
                    padding: 10px;
                    font-size: 1.5rem;
                    color: $clear-black;
                    font-weight: 500;
                    transition: 0.5s;
                    &:hover{
                        color: $white;
                    }
                }
            }
        }
    }
}
