@import "../../scss-variables/colors.scss";
@import "../../scss-variables/page-pading";
.nav-top-container {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $black;
    .mobile-menu{
        display: none;
    }
    #header-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 80px;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            transform: rotate(90deg);
            :not(:last-child){
                text-align: center;
            }
            li {
                width: calc(100%);
                height: 80px;
                &:hover {
                    a{
                        color: $white;
                    }
                }
                a {
                    transition: 0.5s;
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    border-radius: 12px;
                    font-size: 1.7rem;
                    color: $clear-black;
                    font-weight: 500;
                    &.active{
                        color: $white;
                    }
                }
            }
        }
    }
}
@media (width < 1150px){
    .nav-top-container{
        background-color: $black;
        height: 60px;
        .mobile-menu {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100vw;
            height: 60px;
            background-color: $black;
            border-bottom: 1px solid $gray;
            padding: 10px;
            a{
                color: $white;
                font-size: 2rem;
                font-weight: 800;
            }
        }
        .menu-icon-container{
            z-index: 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            // top: 0px;
            right: 10px;
            height: 60px;
            width: 60px;
            gap: 10px;
            .menu-line{
                height: 2px;
                border-radius: 2px;
                width: 100%;
                background-color: $white;
            }
            &.close{
                :nth-child(1){
                    transition: 0.5s;
                    position: absolute;
                    top: 30px;
                    right: 5px;
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
                :nth-child(2){
                    transition: 0.5s;
                    position: absolute;
                    top: 30px;
                    right: 5px;
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
        #header-nav{
            display: none;
            &.active{
                display: flex;
                justify-content: center;
                align-items: center;
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: $black;
            }
            ul{
                transform: rotate(0deg);
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                li{
                    a{
                        font-size: 4rem;
                    }
                }
            }
        }
    }
}
