<header class="nav-top-container">
    <nav class="mobile-menu">
        <a href="#home">h</a>
        <figure class="menu-icon-container" (click)="toggleMenuState()" [class.close]="menuActive === true">
            <div class="menu-line"></div>
            <div class="menu-line"></div>
        </figure>
    </nav>
    <nav id="header-nav" [class.active]="menuActive === true">
        <a href="#home" class="href-home">h</a>
        <ul>
           <li *ngFor="let item of navItems">
                <a href="{{'#' + item.title}}" (click)="!menuActive ? SetNavItemsState(item.title) : toggleMenuState()" [class.active]="item.title === actualSectionInNav" >
                    {{item.title}}
                </a>
           </li>
        </ul>
    </nav>
</header>
