app-top-header{
    z-index: 2;
    position: absolute;
}
*:not(app-top-header){
    animation: arriving 1s;
}
@keyframes arriving{
    from{
        opacity: 0;
        transform: translateY(-2rem);
    } to{
        opacity: 1;
        transform: translateY(0);
    }
}