@import "../../scss-variables/colors";
@import "../../scss-variables/transition-duration";

.section-container {
    height: 100%;
    margin-bottom: 100px;
    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    li {
        transition: $default-duration;
        width: 100%;
        border-radius: 22px;
        border: 2px solid #333;
        transition: $default-duration ease-in-out;
        &:hover {
            background-color: #333;
        }
        p {
            color: $white;
            font-weight: 600;
            font-size: 2.8rem;
        }
    }
    :nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
}

ul li {
    border: none;
    p {
        transition: $default-duration ease-in-out;
        border-radius: 22px;
        padding: clamp(20px, 2vw, 50px);
        height: calc(100% - 4px);
        width: calc(100% - 4px);
        background-color: $black;
    }
    &:hover {
        animation-play-state: paused;
        p {
            background-color: $gray;
        }
    }
    padding: 0;
    background-color: transparent;
    background-color: $gray;
    background-image: radial-gradient(
        circle farthest-side at center center,
        #ffffff 1%,
        $gray 56%
    );
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 15s;
    background-size: cover;
    animation: moveGradient infinite 40s;
    &.important {
        background-color: $gray;
        background-image: radial-gradient(
            circle farthest-corner at center center,
            #ab82f3 1%,
            $gray 56%
        );
        animation: moveGradient infinite 10s;
    }
    &.backend {
        background-color: $gray;
        background-image: radial-gradient(
            circle farthest-corner at center center,
            #86f64f 0%,
            $gray 56%
        );
        animation: moveGradient infinite 20s;
    }
}
@keyframes moveGradient {
    0% {
        background-size: 0%;
        background-position: center center;
    }
    50% {
        background-size: 400%;
        background-position: center center;
    }
    75% {
        background-size: 100%;
        background-position: left center;
    }
    100% {
        background-size: 0%;
        background-position: center center;
    }
}

// responsive
@media (width < 1300px) {
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
        gap: 20px;
        li {
            transition: $default-duration ease-in-out;
            width: 100%;
            border-radius: 22px;
            border: 2px solid #333;
            transition: $default-duration ease-in-out;
            &:hover {
                background-color: #333;
            }
            p {
                color: $white;
                font-weight: 600;
                font-size: 2.8rem;
            }
        }
        :nth-child(1) {
            grid-column: auto;
            grid-row: auto;
        }
        :nth-child(2) {
            grid-column: auto;
            grid-row: auto;
        }
        :nth-child(3) {
            grid-column: auto;
            grid-row: auto;
        }
        :nth-child(4) {
            grid-column: auto;
            grid-row: auto;
        }
        :nth-child(5) {
            grid-column: auto;
            grid-row: auto;
        }
        :nth-child(6) {
            grid-column: auto;
            grid-row: auto;
        }
        :nth-child(7) {
            grid-column: auto;
            grid-row: auto;
        }
    }
}