@import '../../scss-variables/colors';
@import '../../scss-variables/transition-duration';

$box-width: 100px;
$padding-x: 40px;

$small-box-width: 75px;
$small-padding-x: 25px;

section {
    width: 100vw;
    background-color: $dark-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    &:hover{
        ul{
            animation-play-state: paused;
        }
    }
    ul {
        display: flex;
        height: 100%;
        width: 100vw;
        overflow: visible;
        animation: scrolling 10s linear infinite;
        li {
            height: 100%;
            display: inline-block;
            list-style: none;
            padding: $padding-x;
            overflow: visible;
            &:hover{
                app-technologie{
                    filter: grayscale(0%);
                }
            }
            app-technologie {
                transition: $default-duration;
                display: inline-block;
                width: $box-width;
                filter: grayscale(100%);
            }
        }
    }
}

@keyframes scrolling {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(calc(((-1 * $box-width) - $padding-x * 2) * 8)); // the box width in negative + the padding in both sides * the cuantity of logos
    }
}
@media (width < 1150px) {
    section ul{
        animation: scrolling-mobile 10s linear infinite;
        li{
            padding: $small-padding-x;
            app-technologie{
                width: $small-box-width;
            }
        }
    }
    @keyframes scrolling-mobile {
        0% {
            transform: translateX(100vw);
        }
        100% {
            transform: translateX(calc(((-1 * $small-box-width) - $small-padding-x * 2) * 8)); // the box width in negative + the padding in both sides * the cuantity of logos
        }
    }
}