@import './app/scss-variables/colors';
@import './app/scss-variables/fonts';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    :hover{
        outline: none;
    }
    outline: none;
    list-style: none;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, span{
    font-family: $font-family-fraset;
}
a, p{
    font-family: $font-family-raleway;
}
app-root{
    background-color: $gray;
    color: $purple;
    display: grid;
    grid-template-columns: 1fr 2fr 8fr;
    grid-template-rows: 1fr;
    height: 200vh;
    width: 100%;
}
