// $gray: #23262E;
$gray: #1B1B1B;
$gray-hover: rgb(109, 108, 108);

$yellow-green: #AAE63F;
$clear-yellow-green: #CFF564;

$pink-orange: #F1B401;
$clear-pink-orange: #fad35c;

$blue: #1c89f6;
$clear-blue: #52a8ff;

$purple: #AB82F3;
$clear-purple: #c49efe;

$white: #E9E9E9;
$darker-white: #E9E9E9;