// $black: #23262E;
$black: #111111;
$clear-black: #888;

$yellow-green: #86F64F;
$clear-yellow-green: #C0F679;

$pink-orange: #F1B401;
$clear-pink-orange: #fad35c;

$blue: #1c89f6;
$clear-blue: #52a8ff;

$purple: #AB82F3;
$clear-purple: #c49efe;

$white: #E9E9E9;
$darker-white: #E9E9E9;