// $gray: #23262E;
$gray: #22272E;
$gray-hover: rgb(109, 108, 108);

$green: #66BAA8;
$yellow-green: #AAE63F;
$crlear-yellow-green: #CFF564;

$pink-orange: #FF8258;

$purple: #AB82F3;
$clear-purple: #b68ffa;

$white: #E9E9E9;
$darker-white: #E9E9E9;